.gugol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 150px;
    font-style: oblique;
    min-width: 550px;
    margin-bottom: 1%;
}

.ojos {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.gugol span:nth-child(3) {
    color: rgb(0, 102, 255);
}

.gugol span:nth-child(1) {
    color: rgb(0, 102, 255);
}

.gugol span:nth-child(4) {
    color: green;
}

.gugol span:nth-child(5) {
    color: red;
}

.boton {
    width: 20px;
    height: 20px;
}

.lupa {
    width: 30px;
    opacity: 60%;
    margin-left: 1px;
}

.barra {

    height: 25px;
    width: 50%;
    max-width: 500px;
}

.searchcontainer {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lupa:hover {
    opacity: 100%;
}

.botonesBajos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}

.bcg {
    margin-right: 1px;
}

.pais span:nth-child(2) {
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.pais span:nth-child(1) {
    color: rgb(0, 83, 0)
}

.pais span:nth-child(3) {
    color: rgb(212, 0, 0)
}

.pais {
    display: flex;
    flex-wrap: nowrap;
    font-size: 21px;
    margin-left: -100px;
    margin-top: 26%;
}

.header {
    display: grid;
    justify-content: center;
    margin-right: 5%;
}

.barraDeTareas {
    display: grid;
    grid-template-columns: 50px 50px 130px;
    justify-content: flex-end;

    margin-top: 15px;
    margin-bottom: 5%;
}

.cuenta {
    display: flex;
    justify-content: center;
    margin-left: 20px;
        background-color: rgba(43, 125, 248, 0.788);
    color: white;
    border-radius: 5%;
    height: 20px;
}

.perfil {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 60%;
    margin-left: 2px;
}