.gugol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 150px;
    font-style:oblique;
    min-width: 550px;
    margin-bottom: 1%;
}

.ojos {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}
h1 span:nth-child(3){
    color:rgb(0, 102, 255);
}
h1 span:nth-child(1){
    color:rgb(0, 102, 255);
}
h1 span:nth-child(4){
    color:green;
}
h1 span:nth-child(5){
    color:red;
}
.boton{
    width: 20px;
    height: 20px;
}
.lupa{
    width: 30px;
    opacity: 60%;
}
.barra{

    height: 25px ;
    width: 50%;
    max-width: 500px;
}
.searchcontainer{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.lupa:hover{
    opacity: 100%;
}
.botonesBajos{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    margin-top: 1%;
}
.bcg{
    margin-right: 1%;
}
