.gugol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 150px;
    font-style: oblique;
    min-width: 550px;
    margin-bottom: 1%;
}

.ojos {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.gugol span:nth-child(3) {
    color: rgb(0, 102, 255);
}

.gugol span:nth-child(1) {
    color: rgb(0, 102, 255);
}

.gugol span:nth-child(4) {
    color: green;
}

.gugol span:nth-child(5) {
    color: red;
}

.boton {
    width: 20px;
    height: 20px;
}

.lupa {
    width: 30px;
    opacity: 60%;
    margin-left: 1px;
}

.barra {

    height: 25px;
    width: 50%;
    max-width: 500px;
}

.searchcontainer {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lupa:hover {
    opacity: 100%;
}

.botonesBajos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}

.bcg {
    margin-right: 1px;
}

.pais span:nth-child(2) {
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.pais span:nth-child(1) {
    color: rgb(0, 83, 0)
}

.pais span:nth-child(3) {
    color: rgb(212, 0, 0)
}

.pais {
    display: flex;
    flex-wrap: nowrap;
    font-size: 21px;
    margin-left: -100px;
    margin-top: 26%;
}

.header {
    display: grid;
    justify-content: center;
    margin-right: 5%;
}

.barraDeTareas {
    display: grid;
    grid-template-columns: 50px 65px 30px 111px;
    justify-content: flex-end;

    margin-top: 15px;
    margin-bottom: 5%;
}

.cuenta {
    display: flex;
    justify-content: center;
    background-color: rgba(43, 125, 248, 0.788);
    color: white;
    border-radius: 5%;
    height: 20px;
}

.perfil {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 60%;
    margin-left: 2px;
}

@keyframes moverIzquierda {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateX(-5px);
    }
}

.gugol {
    animation-name: moverIzquierda;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

.puntos {
    height: 30px;
    width: 30px;
    margin-top: -5px;
}

.sin-viñetas {
    list-style: none;
}

.logo-busqueda-google,
.img-cta,
.google-maps,
.youtube,
.play,
.news,
.gmail,
.meet,
.Chat,
.contactos,
.drive,
.calendario,
.traductor,
.fotos,
.chrome,
.choping,
.finance,
.docs,
.sheets,
.presentaciones,
.libros,
.blogger,
.hang,
.kip,
.jam,
.earth,
.coleccion,
.arts,
.ads,
.podcasts,
.viajes,
.forms,
.store {
    height: 25px;
    width: 25px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
}

.sin-viñetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.mas-apps {
    width: 70px;
    height: 15px;
    background-color: rgba(43, 125, 248, 0.788);
    border-radius: 5%;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 45%;
    margin-right: 45%;
}

.carpeta a {
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(65, 64, 64, 0.877);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}


.carpeta .mas-apps-link {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    width: 70px;
}

.carpeta {
    display: none;
    position: fixed;
    left: 80%;
    transform: translate(-40%, 0%);
    background-color: white;
    overflow: auto;
    height: 250px;
    box-shadow: -3px 2px 2px rgba(173, 173, 173, 0.521);
    border-top: rgba(238, 237, 237, 0.226);
    border-top-style: ridge;

}

.googleApps:hover .carpeta {
    display: block;
}
a {
    text-decoration: none;
    color: black;
}